@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Виконав:</h1>
    <h1 class="display-4">Студент групи КП-72</h1>
    <h1 class="display-4">Чумак Михайло Сергійович</h1>
</div>
